<div class="col-sm-12">

<h5 class="">Search Forms</h5>
<hr />
<form class="row row-cols-md-auto g-3 align-items-center ">
  <div class="col-12">
    <label for="inlineFormInputName" class="sr-only">AHU Number</label>
    <input type="text"  class="form-control" id="inlineFormInputName" placeholder="AHU Number" />
  </div>
  <!-- <div class="col-12">
    <label for="inlineFormInputGroupUsername" class="sr-only">Client Name</label>
    <div class="input-group">
      <div class="input-group-text">@</div>
      <input type="text"  class="form-control" id="inlineFormInputGroupUsername" placeholder="Client Name" />
    </div>
  </div> -->
  <div class="col-12">
    <label for="inlineFormInputGroupUsername" class="sr-only">From Date</label>
    <div class="input-group">
      <div class="input-group-text">From</div>
      <input type="date"  class="form-control" id="inlineFormInputGroupUsername" placeholder="FromDate" />
    </div>
  </div>
  <div class="col-12">
    <label for="inlineFormInputGroupUsername" class="sr-only">To Date</label>
    <div class="input-group">
      <div class="input-group-text">To</div>
      <input type="date"  class="form-control" id="inlineFormInputGroupUsername" placeholder="ToDate" />
    </div>
  </div>
  <!-- <div class="col-12">
    <label for="inlineFormSelectPref" class="sr-only">Preference</label>
    <select class="form-select" id="inlineFormSelectPref">
      <option selected>Type...</option>
      <option value="1">ACH001</option>
      <option value="2">ACH002</option>
      <option value="3">ACH003</option>
    </select>
  </div> -->
 
  <div class="col-12">
    <button type="button" class="btn btn-primary">Search <i class="m-1 feather icon-search"></i></button>
  </div>
</form>

<hr class="mb-5" />
<app-grid [title]="'Calculations'" [listOfItems]="list" [gridColumnOptions]="options" 
            [dataKey]="'id'"  [canEdit] ="true"[canDelete]="true" [hasColumnGroup]="false"
            ></app-grid>

</div>