<div class="col-sm-12">
  <div>
    <h1 >Welcome to AHU Portal !</h1><br/>
    
  </div>
  <hr>
  <div class="row" >
    <div class="col-ld-4 col-md-4 col-sm-12" *ngFor="let item of coreServicesList">
      <app-card [hidHeader]="true" blockClass="text-center">
        <i class="d-block f-40"><img class="img-icon" src={{item.imgSrc}}></i>
         
        <h4 class="m-t-20"><span class="text-c-blue//">{{item.title}}</span></h4>
        <p class="m-b-20">{{item.services.length > 0 ? item.services[0].name:''}}
        <br />{{item.services.length > 1 ? item.services[1].name:''}}
        <br />{{item.services.length > 2 ? item.services[2].name +'...':''}}<br/>
        </p>
        <button class="btn btn-primary btn-sm btn-round" > Create Form</button>
      </app-card>
    </div>

</div>